@charset "UTD-8";

/* Configurações globais da CSS */
*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #D97941, #F29C6B);
    
}

main{
    background-color: white;
    border-radius: 10px; /* Aredonda as bordas da box */
    box-shadow: 5px 5px 15px rgba(146, 70, 26, 0.555);/* Cria sombra na box   
    - parâmetros: tam. sombra p/ lado, tam. sombra p/ baixo, espalhamento, cor;*/
    width: 600px; /* Tamanho da box */
    padding: 10px;/* Espaço dos lados (acolchoamento */
    margin: auto; /* Margem da tela auto fica centralizado independente do tamanho da tela / define as margens de um elemento. */
}

h1{
    color:#404040;
    text-align: center;
    text-shadow: 1px 1px 0px #4040409f;
}

h2{
    color:#8C8C8C;
}

p{
    text-align: justify;
}